.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding-top: 63px;
  background-color: $light-black;

  @include lg {
    gap: 26px;
  }

  @include xl {
    gap: 36px;
  }

  &__divider {
    margin-bottom: 10px;

    @include lg {
      margin-bottom: 20px;
    }
  
    @include xl {
      margin-bottom: 30px;
    }
  }

  &__article {
    width: 100%;
    // margin-top: 10px;
    // margin-bottom: 10px;

    // @include lg {
    //   margin-top: 15px;
    //   margin-bottom: 20px;
    // }
  
    // @include xl {
    //   margin-top: 20px;
    //   margin-bottom: 30px;
    // }
  }
}