.button {
  display: flex;
  height: 47px;
  padding: 0 28px;
  background-color: transparent;
  border: 1px solid $white;
  @extend %button-text;
  line-height: 47px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $dark-gray;
  }

  &--font-playfair {
    font-family: "Playfair Display", serif;
    letter-spacing: normal;
  }
}