.category {
  display: inline-block;
  padding: 0 20px;
  line-height: 41px;
  text-decoration: none;
  color: $light-gray;
  background-color: $light-black;
  transition: all 0.3s;

  &:hover {
    background-color: $light-gray;
    color: $dark-gray;
  }
}