.collection-old {
  display: flex;
  flex-direction: column;
  min-height: 450px;

  @include xl {
    flex-direction: row;
    height: 600px;
  }

  &__hero {
    width: 100%;
    height: 450px;
    order: 2;

    @include xl {
      height: 100%;
      width: 48%;
      order: 1;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-height: 650px;
    width: 100%;
    padding: 20px 10px;
    padding-top: 20px;
    order: 1;

    @include md {
      padding: 60px 10px;
      gap: 20px;
    }

    @include xl {
      gap: 40px;
      height: 100%;
      width: 52%;
      padding-top: 100px;
      order: 2;
    }
  }

  &__text {
    max-width: 628px;
    margin-bottom: 10px;
    text-align: center;

    @include md {
      margin-bottom: 24px;
    }
  }
}