.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../images/hero.jfif');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: $light-black;
    opacity: 50%;
  }

  &--collection {
    height: 100%;
    background: url('../images/collection-hero.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--old-collection {
    height: 100%;
    background: url('../images/collection-old-hero.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__content {
    position: relative;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;

    @include sm {
      top: 25%;
    }

    @include lg {
      top: 30%;
    }

    @include xxl {
      top: 284px;
    }

    &--collection {
      top: 304px;
      gap: 30px;

      @include xl {
        top: 384px;
      }

      @include xxl {
        top: 484px;
      }
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 180px;
    border: 4px solid $white;

    @include md {
      height: 220px;
      width: 220px;
    }

    @include xl {
      height: 320px;
      width: 320px;
    }
  }

  &__divider {
    margin-top: -6px;
    height: 2px;
    width: 100%;
    background-color: $white;
  }

  &__city {
    margin-top: 7px;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;

    @include xl {
      font-size: 22px;
      line-height: 28px;
    }
  }

  &__text {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 730px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;

    @include sm {
      margin-top: 5%;
      font-size: 14px;
      line-height: 20px;
    }
    
    @include xl {
      font-size: 16px;
      line-height: 24px;
    }

    @include xxl {
      margin-top: 80px;
    }
  }
}