.menu {
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;

    &--mobile {
      margin-top: 20px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    height: 80px;
  }

  &__mobile-item {
    width: 100%;
    height: 40px;
  }

  &__link {
    position: relative;
    display: inline-block;
    height: 100%;
    padding: 31px 18px 31px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: $gray;
    transition: all 0.3s;

    &:hover {
      outline: none;
      background-color: $dark-gray;
      color: $white;
      border: 0;
    }

    &--icon {
      color: $white;
    }

    &--mobile-icon {
      justify-content: center;
      color: $dark-gray;
    }

    &--mobile {
      display: flex;
      align-items: center;
      padding: 0 20px;
    }
  }
}