.new-arrivals {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px;

    @include md {
    }

    @include xl {
      padding-top: 80px;
    }

    @include xxl {
      padding-top: 120px;
    }
}