@import "./normalize.css";
@font-face {
  font-family: "Post No Bills Jaffna";
  font-weight: 700;
  src: url(../fonts/PostNoBillsJaffna-Bold.ttf);
}
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url(../fonts/PTSans-Regular.ttf);
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 400;
  src: url(../fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: "Playfair Display";
  font-weight: 700;
  src: url(../fonts/PlayfairDisplay-Bold.ttf);
}
.logo {
  font-family: "Post No Bills Jaffna", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
}

.page {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.product-card, .title {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.article__tag, .article__title, .button {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.page {
  scroll-behavior: smooth;
}
.page__body {
  background: #000000;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #000000;
}
.header__wrapper {
  padding: 0 10px;
}
@media (min-width: 375px) {
  .header__wrapper {
    padding: 0 20px;
  }
}
@media (min-width: 768px) {
  .header__wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1024px) {
  .header__wrapper {
    padding: 0 100px;
  }
}
@media (min-width: 1440px) {
  .header__wrapper {
    padding: 0 300px;
  }
}
@media (min-width: 1920px) {
  .header__wrapper {
    padding: 0 405px;
  }
}
.header__wrapper--basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #0F0F0F;
}
@media (min-width: 1024px) {
  .header__wrapper--basic {
    height: 80px;
  }
}
@media (min-width: 1024px) {
  .header__menu-icon {
    display: none;
  }
}
.header__menu {
  display: none;
}
@media (min-width: 1024px) {
  .header__menu {
    display: block;
  }
}
.header__mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 100vh;
  z-index: 100;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s;
}
.header__mobile-menu:target {
  transform: translateX(0);
}
.header__full {
  height: 100vh;
  width: 50%;
  background-color: #000000;
  opacity: 50%;
}
.header__menu-wrapper {
  padding-top: 20px;
  width: 50%;
  height: 100vh;
  background-color: #ffffff;
}
.header__menu-close {
  margin-left: auto;
  margin-right: 20px;
  color: #0F0F0F;
}

.line {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
  min-height: 34px;
}
@media (min-width: 768px) {
  .line {
    justify-content: space-between;
    gap: 20px;
  }
}
@media (min-width: 1024px) {
  .line {
    min-height: 44px;
  }
}
.line__link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
  color: #969696;
  transition: color 0.3s;
}
@media (min-width: 768px) {
  .line__link {
    gap: 15px;
  }
}
.line__link:hover {
  color: #ffffff;
}

.icon {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  text-decoration: none;
}
.icon--phone {
  -webkit-mask-image: url("../images/icons/phone.svg");
  mask-image: url("../images/icons/phone.svg");
}
.icon--log-in {
  -webkit-mask-image: url("../images/icons/log-in.svg");
  mask-image: url("../images/icons/log-in.svg");
}
.icon--cart {
  width: 22px;
  height: 22px;
  -webkit-mask-image: url("../images/icons/cart.svg");
  mask-image: url("../images/icons/cart.svg");
}
.icon--search {
  width: 22px;
  height: 22px;
  -webkit-mask-image: url("../images/icons/search.svg");
  mask-image: url("../images/icons/search.svg");
}
.icon--menu {
  background-color: #ffffff;
  -webkit-mask-image: url("../images/icons/menu.svg");
  mask-image: url("../images/icons/menu.svg");
}
.icon--close {
  -webkit-mask-image: url("../images/icons/close.svg");
  mask-image: url("../images/icons/close.svg");
}

.logo {
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
  text-decoration: none;
}
.logo--hero {
  font-size: 44px;
  line-height: 66px;
}
@media (min-width: 1440px) {
  .logo--hero {
    font-size: 64px;
    line-height: 86px;
  }
}

.menu__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}
.menu__list--mobile {
  margin-top: 20px;
  flex-direction: column;
  align-items: flex-start;
}
.menu__item {
  height: 80px;
}
.menu__mobile-item {
  width: 100%;
  height: 40px;
}
.menu__link {
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 31px 18px 31px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #969696;
  transition: all 0.3s;
}
.menu__link:hover {
  outline: none;
  background-color: #1F1F1F;
  color: #ffffff;
  border: 0;
}
.menu__link--icon {
  color: #ffffff;
}
.menu__link--mobile-icon {
  justify-content: center;
  color: #1F1F1F;
}
.menu__link--mobile {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../images/hero.jfif");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #0F0F0F;
  opacity: 50%;
}
.hero--collection {
  height: 100%;
  background: url("../images/collection-hero.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero--old-collection {
  height: 100%;
  background: url("../images/collection-old-hero.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__content {
  position: relative;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}
@media (min-width: 375px) {
  .hero__content {
    top: 25%;
  }
}
@media (min-width: 1024px) {
  .hero__content {
    top: 30%;
  }
}
@media (min-width: 1920px) {
  .hero__content {
    top: 284px;
  }
}
.hero__content--collection {
  top: 304px;
  gap: 30px;
}
@media (min-width: 1440px) {
  .hero__content--collection {
    top: 384px;
  }
}
@media (min-width: 1920px) {
  .hero__content--collection {
    top: 484px;
  }
}
.hero__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 180px;
  width: 180px;
  border: 4px solid #ffffff;
}
@media (min-width: 768px) {
  .hero__logo {
    height: 220px;
    width: 220px;
  }
}
@media (min-width: 1440px) {
  .hero__logo {
    height: 320px;
    width: 320px;
  }
}
.hero__divider {
  margin-top: -6px;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
}
.hero__city {
  margin-top: 7px;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .hero__city {
    font-size: 22px;
    line-height: 28px;
  }
}
.hero__text {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 730px;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 375px) {
  .hero__text {
    margin-top: 5%;
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .hero__text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1920px) {
  .hero__text {
    margin-top: 80px;
  }
}

.divider {
  width: 120px;
  height: 1px;
  background-color: #ffffff;
}

.title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 1024px) {
  .title {
    font-size: 36px;
    line-height: 48px;
  }
}

.collection {
  display: flex;
  flex-direction: column;
  min-height: 550px;
}
@media (min-width: 1440px) {
  .collection {
    flex-direction: row;
    height: 630px;
  }
}
@media (min-width: 1920px) {
  .collection {
    height: 730px;
  }
}
.collection__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 20px 10px;
  min-width: 0;
}
@media (min-width: 768px) {
  .collection__content {
    gap: 20px;
    padding-top: 30px;
  }
}
@media (min-width: 1440px) {
  .collection__content {
    gap: 30px;
    width: 54%;
    padding-top: 60px;
  }
}
@media (min-width: 1920px) {
  .collection__content {
    gap: 50px;
    padding-top: 93px;
  }
}
.collection__hero {
  width: 100%;
  height: 550px;
}
@media (min-width: 1440px) {
  .collection__hero {
    height: 100%;
    width: 46%;
  }
}
.collection__wrapper {
  position: relative;
  overflow: hidden;
  width: 260px;
}
@media (min-width: 768px) {
  .collection__wrapper {
    width: 570px;
  }
}
@media (min-width: 1024px) {
  .collection__wrapper {
    width: 880px;
  }
}
@media (min-width: 1440px) {
  .collection__wrapper {
    width: 570px;
  }
}
@media (min-width: 1920px) {
  .collection__wrapper {
    width: 880px;
  }
}
.collection__wrapper .swiper-button-prev, .collection__wrapper .swiper-button-next {
  top: 163px;
}
.collection__wrapper .swiper-button-prev::after, .collection__wrapper .swiper-button-next::after {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 405px;
  text-decoration: none;
}
.product-card:hover img {
  transform: scale(1.1);
}
.product-card__img-container {
  position: relative;
  width: 100%;
  height: 325px;
  padding: 27px 22px 34px 23px;
  background-color: #191b1c;
}
.product-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: all 0.3s;
}
.product-card__title {
  margin-top: 25px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.product-card__price {
  margin-top: 10px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}
.product-card__bg {
  height: 100%;
  width: 100%;
  background: url("../images/clock3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-card__blur {
  height: 100%;
  width: 100%;
  background: rgba(25, 27, 28, 0.5019607843);
  backdrop-filter: blur(2px);
}
.product-card__button-container {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  height: 47px;
  padding: 0 28px;
  background-color: transparent;
  border: 1px solid #ffffff;
  line-height: 47px;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  background-color: #1F1F1F;
}
.button--font-playfair {
  font-family: "Playfair Display", serif;
  letter-spacing: normal;
}

.collection-old {
  display: flex;
  flex-direction: column;
  min-height: 450px;
}
@media (min-width: 1440px) {
  .collection-old {
    flex-direction: row;
    height: 600px;
  }
}
.collection-old__hero {
  width: 100%;
  height: 450px;
  order: 2;
}
@media (min-width: 1440px) {
  .collection-old__hero {
    height: 100%;
    width: 48%;
    order: 1;
  }
}
.collection-old__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 550px;
  width: 100%;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  order: 1;
}
@media (min-width: 768px) {
  .collection-old__content {
    height: 450px;
    padding-top: 60px;
    gap: 20px;
  }
}
@media (min-width: 1440px) {
  .collection-old__content {
    gap: 40px;
    height: 100%;
    width: 52%;
    padding-top: 100px;
    order: 2;
  }
}
.collection-old__text {
  max-width: 628px;
  margin-bottom: 10px;
  text-align: center;
}
@media (min-width: 768px) {
  .collection-old__text {
    margin-bottom: 24px;
  }
}

.new-arrivals {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-width: 0;
  padding: 40px 10px 50px;
}
@media (min-width: 1024px) {
  .new-arrivals {
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .new-arrivals {
    gap: 30px;
    padding-top: 80px;
    padding-bottom: 100px;
  }
}
@media (min-width: 1920px) {
  .new-arrivals {
    gap: 40px;
    padding-top: 120px;
    padding-bottom: 150px;
  }
}
.new-arrivals__content {
  position: relative;
  margin-top: 10px;
  width: 260px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .new-arrivals__content {
    margin-top: 20px;
    width: 543px;
  }
}
@media (min-width: 1024px) {
  .new-arrivals__content {
    margin-top: 30px;
    width: 826px;
  }
}
@media (min-width: 1440px) {
  .new-arrivals__content {
    width: 1109px;
    margin-top: 40px;
  }
}
.new-arrivals .swiper-button-prev, .new-arrivals .swiper-button-next {
  top: 163px;
}
.new-arrivals .swiper-button-prev::after, .new-arrivals .swiper-button-next::after {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}
.new-arrivals .swiper-pagination {
  bottom: 55px;
}
.new-arrivals .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 10px;
  background: #ffffff;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding-top: 63px;
  background-color: #0F0F0F;
}
@media (min-width: 1024px) {
  .articles {
    gap: 26px;
  }
}
@media (min-width: 1440px) {
  .articles {
    gap: 36px;
  }
}
.articles__divider {
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .articles__divider {
    margin-bottom: 20px;
  }
}
@media (min-width: 1440px) {
  .articles__divider {
    margin-bottom: 30px;
  }
}
.articles__article {
  width: 100%;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1440px) {
  .article {
    flex-direction: row;
    align-items: flex-start;
  }
}
.article__img-container {
  width: 100%;
  height: 257px;
}
@media (min-width: 1024px) {
  .article__img-container {
    height: 337px;
  }
}
@media (min-width: 1440px) {
  .article__img-container {
    height: 437px;
    width: 52%;
  }
}
.article__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.article__text-container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 257px;
  padding-top: 23px;
  padding-left: 0;
  padding: 23px 15px 10px 15px;
}
@media (min-width: 1024px) {
  .article__text-container {
    min-height: 337px;
    padding-top: 35px;
  }
}
@media (min-width: 1440px) {
  .article__text-container {
    justify-content: flex-start;
    width: 48%;
    min-height: 437px;
    padding-top: 53px;
    padding-left: 60px;
  }
}
@media (min-width: 1920px) {
  .article__text-container {
    padding-left: 145px;
  }
}
.article__wrapper {
  max-width: 628px;
}
.article__title {
  margin-bottom: 14px;
  line-height: 24px;
  text-align: left;
}
.article__text {
  margin-bottom: 38px;
}
.article__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}
.article__tags {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 5px;
}
@media (min-width: 768px) {
  .article__tags {
    gap: 10px;
  }
}
.article__tag {
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .article__tag {
    font-size: 18px;
    line-height: 24px;
  }
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  min-width: 0;
  padding: 90px 40px 0 40px;
  background-color: #0F0F0F;
}
@media (min-width: 1024px) {
  .partners {
    gap: 26px;
  }
}
@media (min-width: 1440px) {
  .partners {
    gap: 46px;
  }
}
@media (min-width: 1920px) {
  .partners {
    gap: 66px;
  }
}
.partners__logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  min-height: 185px;
  max-width: 1385px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .partners__logos {
    margin-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  .partners__logos {
    margin-bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .partners__logos {
    margin-bottom: 106px;
  }
}
.partners__img {
  max-width: 100%;
  max-height: 185px;
  object-fit: contain;
  object-position: center;
}

/*# sourceMappingURL=main.css.map */
